<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>EcoShop</title>
    <link rel="stylesheet" href="Styles/top-bar.css">
</head>
<body>
    <div class="top-bar">
        <div class="container">
            <div class="top-row">
                <div class="logo">
                    <a href="index.html">
                        <img src="Assets/logo.jpg" alt="EcoShop">
                        <span>EcoShop</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>