<header class="top-bar">
    <div class="top-info">
        <span class="location">Campinas - São Paulo</span>
        <a href="#" class="login-link">Cadastrar / Entrar</a>
    </div>
    <div class="main-bar">
        <div class="container">
            <img src="Assets/logo.jpg" alt="EcoShop">
            <span class="shop-name">EcoShop</span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Procurar">
            <button>Buscar</button>
        </div>
        <div class="user-controls">
            <a href="#" class="top-link"><img src="Assets/coracao.png" alt="Favoritos"></a>
            <span class="divider">|</span>
            <a href="#" class="cart">
                <img src="Assets/sacola-compras.png" alt="Carrinho">
                <span>R$ 57.00</span>
            </a>
        </div>
    </div>
    <nav class="navigation-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Mercado</a></li>
            <li><a href="cart.html">Carrinho</a></li>
        </ul>
    </nav>
</header>